.navigation-parent {
  position: relative;
    width: 36px;
    height: 36px;
    top: auto;
    display: flex;
    left: 80px;
  }

  .menu,
.navigation {
  position: absolute;
  border-radius: 1.61px;
  width: 22.5px;
  height: 22.5px;
  overflow: hidden;
}
.navigation {
  top: 0.01px;
  left: 19.82px;
  background-color: #9d4edd;
  transform: rotate(44deg);
  transform-origin: 0 0;
  }
  .menu {
    margin: 0;
    top: 11.9px;
    left: 0;
    border: 2.4px solid #040404;
    box-sizing: border-box;
    z-index: 1;
    background-color: #9d4edd;
  }

.pingoware {
    left: 90px;
    position: relative;
    line-height: 28px;
    font-weight: 500;
    color: inherit;
    z-index: 2;
    
  }
  .work-link {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10.2px 0 0;
    cursor: pointer;
    margin-left: -70px;
  }
  .home {
    min-width: 44px;
    cursor: pointer;
  }
  .about-us,
  .contact,
  .home,
  .services,
  .work {
    cursor: pointer;
    text-decoration: none;
    position: relative;
    line-height: 28px;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    z-index: 2;
  }
  .about-us {
    min-width: 71px;
    white-space: nowrap;
  }
  .contact,
  .services,
  .work {
    min-width: 39px;
  }
  .contact,
  .services {
    min-width: 66px;
  }
  .contact {
    min-width: 63px;
  }
  .contact-link,
  .home-parent {
    margin: 0;
    display: flex;
    align-items: flex-start;
  }
  .home-parent {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
    font-size: 16px;
    color: #fff;
    font-family: "Space Grotesk";
  }
  .contact-link {
    width: 435px;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .get-started {
    text-decoration: none;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    font-weight: 500;
    font-family: Inter;
    color: #000;
    text-align: left;
    display: inline-block;
    min-width: 89px;
  }
  .about-link,
  .rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-right: 40px;
  }
  .rating {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 19px;
    background-color: transparent;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      ),
      #fff;
    justify-content: flex-start;
    white-space: nowrap;
    z-index: 2;
  }
  .rating:hover {
    background-color: #e6e6e6;
    border: 1px solid rgba(230, 230, 230, 0.5);
    box-sizing: border-box;
  }
  .about-link {
    justify-content: space-between;
    font-size: 18px;
    color: #fff;
    font-family: "Space Grotesk";
    padding: 10px 0;
  }


  