.july-23-2023 {
    position: relative;
    line-height: 28px;
    display: inline-block;
    min-width: 103px;
  }
  .project-row1,
  .project-row2 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .project-row2 {
    border-bottom: 1px solid #f0eef2;
    align-items: flex-start;
  }
  .project-row1 {
    align-self: stretch;
    height: 470px;
    border-radius: 20px;
    overflow: hidden;
    flex-shrink: 0;
    align-items: flex-end;
    padding: 24px 23px;
    box-sizing: border-box;
    background-image: url(/public/project-row@3x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
  }
  .funder {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 120%;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
    min-width: 117px;
  }
  .building-funders-comprehensiv {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    letter-spacing: 0.01em;
    line-height: 136%;
    color: #dcdcdc;
  }
  .project-row4 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 10px;
    min-width: 276px;
    max-width: 100%;
  }
  .view-project {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #000;
    text-align: left;
    display: inline-block;
    min-width: 108px;
  }
  .arrow-up-right-icon {
    width: 24px;
    height: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .project-row3,
  .project-row5,
  .project-row6 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .project-row6 {
    flex-direction: column;
    padding: 2px 0 0;
  }
  .project-row3,
  .project-row5 {
    flex-direction: row;
  }
  .project-row5 {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 19px;
    background-color: transparent;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      ),
      #fff;
    gap: 2px;
  }
  .project-row3 {
    align-self: stretch;
    gap: 36px;
    max-width: 100%;
    font-size: 36px;
    color: #fff;
  }
  .design {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 60px;
  }
  .project-row9 {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 17px;
    background-color: transparent;
    width: 97px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      ),
      rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .project-row10:hover,
  .project-row11:hover,
  .project-row9:hover {
    background-color: rgba(230, 230, 230, 0.05);
    border: 1px solid rgba(230, 230, 230, 0.5);
    box-sizing: border-box;
  }
  .development {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 110px;
  }
  .project-row10 {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 19px;
    background-color: transparent;
    flex: 1;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      ),
      rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-width: 97px;
  }
  .maintenance {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 114px;
  }
  .project-row11,
  .project-row8 {
    display: flex;
    flex-direction: row;
  }
  .project-row11 {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 17px;
    background-color: transparent;
    flex: 1;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      ),
      rgba(255, 255, 255, 0.05);
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    min-width: 97px;
  }
  .project-row8 {
    width: 413px;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    max-width: 100%;
  }
  .jira-icon {
    height: 28px;
    width: 28px;
    position: relative;
  }
  .project-row13 {
    height: 48px;
    width: 48px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: linear-gradient(#0b2f63, #0b2f63), rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 9px;
  }
  .webflow-icon {
    height: 28px;
    width: 28px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .project-row14,
  .project-row15 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .project-row14 {
    height: 48px;
    width: 48px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background-color: #4353ff;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    overflow: hidden;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    padding: 10px 9px;
    z-index: 1;
    margin-left: -13px;
  }
  .firebolt-icon {
    height: 28px;
    width: 28px;
    position: relative;
  }
  .figma-icon,
  .firebolt-icon,
  .project-row16 {
    overflow: hidden;
    flex-shrink: 0;
  }
  .project-row16 {
    height: 48px;
    width: 48px;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background-color: #af1217;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 9px;
    z-index: 2;
    margin-left: -13px;
  }
  .figma-icon {
    height: 28px;
    width: 28px;
    position: relative;
  }
  .figma {
    position: relative;
    font-size: 18px;
    line-height: 19px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 52px;
  }
  .project-row12,
  .project-row17 {
    display: flex;
    flex-direction: row;
  }
  .project-row17 {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 10px 11px 6px;
    background-color: #121212;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    gap: 4px;
    z-index: 3;
    margin-left: -13px;
  }
  .project-row17:hover {
    background-color: #454545;
    border: 1px solid rgba(230, 230, 230, 0.5);
    box-sizing: border-box;
  }
  .project-row12 {
    align-items: flex-start;
    justify-content: flex-start;
  }
  .project-row,
  .project-row7 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .project-row7 {
    align-self: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 221px 0 0;
    box-sizing: border-box;
    gap: 28px;
    min-height: 124px;
  }
  .project-row {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    min-width: 412px;
    text-align: left;
    font-size: 16px;
    color: #f0eef2;
    font-family: "Space Grotesk";
  }
  @media screen and (max-width: 1150px) {
    .project-row7 {
      padding-right: 110px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 800px) {
    .funder {
      font-size: 29px;
      line-height: 35px;
    }
    .project-row3 {
      flex-wrap: wrap;
      gap: 18px;
    }
    .project-row {
      gap: 16px;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .funder {
      font-size: 22px;
      line-height: 26px;
    }
    .project-row8 {
      flex-wrap: wrap;
    }
    .project-row7 {
      padding-right: 20px;
      box-sizing: border-box;
    }
  }
  