.projects-featured-on {
    position: relative;
    line-height: 24px;
  }
  .rectangle-div {
    height: 60px;
    width: 272px;
    position: relative;
    border-radius: 16px;
    border-bottom: 0.5px solid #a9a9a9;
    box-sizing: border-box;
    display: none;
  }
  .featured-logos,
  .projects-featured-on-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .projects-featured-on-parent {
    border-radius: 16px;
    border-bottom: 0.5px solid #a9a9a9;
    justify-content: flex-start;
    padding: 18px 14px 17px 19px;
    z-index: 1;
  }
  .featured-logos {
    align-self: stretch;
    justify-content: center;
    padding: 0 21px 0 20px;
  }
  .logo-horizontal-1-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  .logo-row {
    margin-left:0px;

    height: 115px;
    width: 230.3px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 45px 0 0;
    box-sizing: border-box;
  }
  .the-world-bank-logo-png2-1-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  .second-logo {
    height: 120px;
    width: 346.8px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 0 0;
    box-sizing: border-box;
  }
  .image-4-icon {
    width: 150px;
    height: 150px;
    position: relative;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  .fourth-logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 5px 0 0;
  }
  .group-icon {
    align-self: stretch;
    flex: 1;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    mix-blend-mode: luminosity;
  }
  .sixth-logo {
    height: 110px;
    width: 299.4px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0 0;
    box-sizing: border-box;
  }
  .logo-spacerenovator-hp-1-icon {
    height: 160px;
    width: 320.8px;
    position: relative;
    flex-shrink: 0;
    object-fit: cover;
    mix-blend-mode: luminosity;
  }
  .featured,
  .logos {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
    max-width: 100%;
  }
  .logos {
    width: 1440px;
    overflow-x: auto;
    flex-direction: row;
    padding: 0 236px;
    gap: 40px;
  }
  .featured {
    align-self: stretch;
    flex-direction: column;
    padding: 0 0 100px;
    gap: 8px;
    text-align: left;
    font-size: 24px;
    color: #fff;
    font-family: "Space Grotesk";
    background-color: #0b0b0b;
  }
  