.project-date {
    position: relative;
    line-height: 104px;
    display: inline-block;
    min-width: 105px;
    z-index: 2;
  }
  .completed-projects {
    align-self: stretch;
    position: relative;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #f0eef2;
    z-index: 2;
  }
  .project-header {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    min-width: 120px;
  }
  .average-rating,
  .b {
    position: relative;
    line-height: 104px;
    z-index: 2;
  }
  .average-rating {
    align-self: stretch;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    color: #f0eef2;
  }
  .calculator-name,
  .project-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .calculator-name {
    flex: 1;
    flex-direction: column;
    gap: 8px;
    min-width: 120px;
  }
  .project-content {
    width: 387px;
    flex-direction: row;
    gap: 20px;
    max-width: 100%;
    text-align: left;
    font-size: 96px;
    color: #fff;
    font-family: "Space Grotesk";
  }