.do-you-possess,
.lets-take-a {
  margin: 0;
  width: 997px;
  position: relative;
  font-size: inherit;
  line-height: 96px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.do-you-possess {
  height: 37px;
  width: 785px;
  line-height: 132%;
  font-weight: 500;
}
.interface-essentialpluse-icon {
  height: 36px;
  width: 36px;
  position: relative;
}
.question-list {
  align-self: stretch;
  border-bottom: 0.5px solid rgba(240, 238, 242, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 31px;
  max-width: 100%;
  gap: 20px;
}
.do-you-also {
  margin: 0;
  height: 37px;
  width: 829px;
  position: relative;
  font-size: inherit;
  line-height: 132%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.interface-essentialpluse-icon1 {
  height: 36px;
  width: 36px;
  position: relative;
}
.question-list1 {
  align-self: stretch;
  border-bottom: 0.5px solid rgba(240, 238, 242, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 31px;
  max-width: 100%;
  gap: 20px;
}
.how-can-i {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 132%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.interface-essentialpluse-icon2 {
  height: 36px;
  width: 36px;
  position: relative;
}
.question-list2 {
  align-self: stretch;
  border-bottom: 0.5px solid rgba(240, 238, 242, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 31px;
  gap: 20px;
  max-width: 100%;
}
.do-you-provide {
  margin: 0;
  height: 37px;
  width: 883px;
  position: relative;
  font-size: inherit;
  line-height: 132%;
  font-weight: 500;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
}
.interface-essentialpluse-icon3 {
  height: 36px;
  width: 36px;
  position: relative;
}
.question-list3 {
  align-self: stretch;
  border-bottom: 0.5px solid rgba(240, 238, 242, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 32px 32px 31px;
  max-width: 100%;
  gap: 20px;
}
.f-a-q {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 28px;
}
.f-a-q,
.question-block,
.questions {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.question-block {
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 72px;
}
.questions {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 72px 191px;
  box-sizing: border-box;
  text-align: left;
  font-size: 76px;
  color: #fff;
  font-family: "Space Grotesk";
  background-color: #090909;
}