.grain-texture-icon,
.rectangle-icon {
  position: absolute;
  top: 279px;
  left: 126px;
  width: 1935.5px;
  height: 1461.1px;
  object-fit: contain;
}
.grain-texture-icon {
  top: -270px;
  left: 0;
  width: 1440px;
  height: 1440px;
  mix-blend-mode: overlay;
  z-index: 1;
}
.frame-child,
.frame-input {
  position: absolute;
  border-radius: 1.61px;
  width: 22.5px;
  height: 22.5px;
  overflow: hidden;
}
.frame-child {
  top: 0.01px;
  left: 19.82px;
  background-color: #9d4edd;
  transform: rotate(44deg);
  transform-origin: 0 0;
}
.frame-input {
  margin: 0;
  top: 11.9px;
  left: 0;
  border: 2.4px solid #040404;
  box-sizing: border-box;
  z-index: 1;
}
.frame-parent {
  position: absolute;
  top: 33px;
  left: 60px;
  width: 36px;
  height: 34.4px;
  z-index: 2;
}
.rectangle-parent {
  width: 100%;
  height: 1740.1px;
  position: absolute;
  margin: 0 !important;
  right: 0;
  bottom: -1140.1px;
  left: 0;
}
.our-portfolio-project {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 114px;
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
  min-width: 467px;
  max-width: 100%;
  z-index: 2;
}
.our-thing-is {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.01em;
  line-height: 32px;
  z-index: 2;
}
.our-thing-is-creating-cool-exp-wrapper {
  width: 439.6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 122px 0 0;
  box-sizing: border-box;
  min-width: 439.6px;
  max-width: 100%;
  font-size: 18px;
  color: #f0eef2;
}
.description,
.description-wrapper,
.v {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.description {
  flex: 1;
  justify-content: flex-start;
  gap: 65.4px;
}
.description-wrapper,
.v {
  align-self: stretch;
  justify-content: flex-end;
  box-sizing: border-box;
}
.v {
  border-bottom: 1px solid #afafaf;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 46px;
  border-bottom-right-radius: 46px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 26px 60px 186px;
  position: relative;
  gap: 110px;
  text-align: left;
  font-size: 100px;
  color: #fff;
  font-family: "Space Grotesk";
  background-color: #040404;
}
