.want-more {
    margin: 0;
    height: 45px;
    position: relative;
    font-size: inherit;
    letter-spacing: 0.01em;
    line-height: 45px;
    font-weight: 600;
    font-family: inherit;
    display: inline-block;
  }
  .view-all-projects {
    position: relative;
    font-size: 18px;
    line-height: 28px;
    font-weight: 500;
    font-family: "Space Grotesk";
    color: #fff;
    text-align: left;
  }
  .all-projects-button {
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: 8px 17px 8px 18px;
    background-color: transparent;
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.04);
    border-radius: 1000px;
    background: radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 21%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0) 19%
      ),
      radial-gradient(
        50% 50%at 50% 50%,
        rgba(255, 255, 255, 0.05),
        rgba(255, 255, 255, 0)
      );
    flex-direction: row;
    white-space: nowrap;
  }
  .all-projects-button:hover {
    background-color: rgba(230, 230, 230, 0.09);
    border: 1px solid rgba(230, 230, 230, 0.5);
    box-sizing: border-box;
  }
  .all-projects-button,
  .all-projects-link,
  .more-projects-block {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .all-projects-link {
    flex-direction: row;
    padding: 0 38px;
  }
  .more-projects-block {
    flex-direction: column;
    gap: 26px;
  }
  .more-projects {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 20px 132px 21px;
    text-align: left;
    font-size: 45px;
    color: #fff;
    font-family: "Space Grotesk";
  }